<div class="store-bar">
  <mat-card>
    <button mat-raised-button color="primary">Add Store</button>
    <mat-list>
      <mat-list-item
        >Store 1<button mat-raised-button class="store-button" color="accent">
          Edit Store
        </button></mat-list-item
      >
      <mat-list-item
        >Store 2<button mat-raised-button class="store-button" color="accent">
          Edit Store
        </button></mat-list-item
      >
      <mat-list-item
        >Store 3<button mat-raised-button class="store-button" color="accent">
          Edit Store
        </button></mat-list-item
      >
    </mat-list>
  </mat-card>
</div>
