<h1 mat-dialog-title>Add Store</h1>
<mat-form-field appearance="legacy">
  <mat-label>Enter Store Name</mat-label>
  <input matInput placeholder="Type Here">
</mat-form-field>
<br />
<mat-form-field appearance="legacy">
  <mat-label>Enter Store Adress</mat-label>
  <input matInput placeholder="Type Here">
</mat-form-field>
<div mat-dialog-actions class="store-bar">
  <button mat-rasied-button color="primary" (click)="onNoClick()">Save</button>
  &nbsp;
  <button mat-rasied-button color="warn" (click)="onNoClick()">Cancel</button>
</div>
