.account-button {
  position: absolute;
  right: 0px;
  text-decoration: none;
    background-color: #461e64b4 !important;
    color: #ffffff !important;
}

mat-card {
  margin-bottom: 25px;
}

.edit-button {
  margin-left: auto;
  background-color: #4c86d1;
  color: #ffffff;
  line-height: 30px;
}

h4 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

