<mat-card> <mat-card-title>Account</mat-card-title> </mat-card>
<div class="profile-bar">
  <mat-card>
    <button mat-raised-button color=""
    routerLink="/main/account/edit"
    routerLinkActive="mat-accent">Profile Settings</button>
    <mat-list>

  <!--    <a
      mat-button
      color="primary"
      [routerLink]="['/main/account/edit', account.id]"
      >EDIT</a
    >
  -->

  <mat-list-item
  >Phone Number</mat-list-item
>

      
      <mat-list-item
        >Email</mat-list-item
      >
    </mat-list>
  
  </mat-card>


</div>

<div class="settings-bar">
  <mat-card>
    <button mat-raised-button color="">General Settings</button>
    <mat-list>
      <mat-list-item
      >Notifications<button mat-raised-button class="account-button">
        View
      </button></mat-list-item
    >
    <mat-list-item
      >Schedule<button mat-raised-button class="account-button">
        View
      </button></mat-list-item
    >
    </mat-list>
  </mat-card>
</div>
