<mat-card> <mat-card-title>Account (Not yet functional)</mat-card-title> </mat-card>
<div class="container">
<div class="profile-bar">
    <mat-card>
        <button class="edit-button" mat-raised-button style="margin-left:auto" (click)="openEditAccount()">Edit Profile</button>
       <mat-list>
          <mat-list-item>Email <!--Find way to display email here--> </mat-list-item> 
          <mat-list-item>Password </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <div class="settings-bar">
    <mat-card>
      <button mat-raised-button color="">General</button>
      <mat-list>
        <mat-list-item
        >Notifications<button mat-raised-button class="account-button">
          View
        </button></mat-list-item
      >
      <mat-list-item
        >Schedule<button mat-raised-button class="account-button">
          View
        </button></mat-list-item
      >
      </mat-list>
    </mat-card>
  </div>
</div>

