<mat-card> <mat-card-title>Account</mat-card-title> </mat-card>
<div class="container-fluid">
  <div class="profile-bar">
    <mat-card>
    <h5>Settings</h5>
      <mat-list>
        <mat-list-item><h6 style="margin-bottom:0px;margin-right:10px;">Email:</h6><h6 style="font-weight:400;margin-bottom:0px;">{{ account.email }}</h6> <button class="mat-raised-button edit-button" (click)="openEditAccount(account.email)">Edit Email</button></mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>

