<h2 mat-dialog-title>Add Rectangle Table</h2>
<mat-card style="margin-top:15px;">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="saveTable()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Table Name" />
      <mat-error *ngIf="form.get('name').invalid">Please enter a table name.</mat-error>
    </mat-form-field>
    <mat-dialog-content>What is the capacity of the table?</mat-dialog-content>
  <mat-form-field>
    <input matInput formControlName="tableCapacity" placeholder="Enter a table capacity.">
  </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Add</button>
  </form>

</mat-card>



