<mat-expansion-panel [expanded]="true" style="margin-bottom: 15px">
  <mat-expansion-panel-header>
    <h3>Floorplan Builder</h3>
  </mat-expansion-panel-header>

  <mat-form-field>
    <h3>Select floorplan:</h3> {{ selected }}
    <mat-select [(value)]="selected">
      <ng-container *ngFor="let floorplan of floorplanList">
        <mat-option (click)="loadCanvas(floorplan.id)" *ngIf="userIsAuthenticated && userId === floorplan.creator">
          {{floorplan.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <div class="table-button-group">
    <button mat-rasied-button class="table-button" (click)="addRect()">
      Add Rectangle Table
    </button>
    <button mat-rasied-button class="table-button" (click)="addCircle()">
      Add Circle Table
    </button>
    <button mat-rasied-button class="delete-button" (click)="discardObject()">
      Delete Selected Table
    </button>
  </div>

  <div class="table-view">
    <div class="canvas-wrap" id="canvas-wrap">
      <canvas id="canvas" class="canvas" style="border: 1px solid rgb(54, 54, 54);"></canvas>
    </div>
  </div>

  <div class="table-button-group">
    <button mat-rasied-button class="delete-button" (click)="deleteFloorplan(floorplan.id)">
      Delete Floorplan
    </button>
    <button mat-rasied-button class="table-button" (click)="saveCanvas()">
      Save Floorplan
    </button>
  </div>
</mat-expansion-panel>
