<div class="store-bar" style="margin-bottom: 15px">
    <mat-card>
      <div class="header">
        <h3>Floorplans</h3>
      </div>
      <button class="add-button" mat-raised-button (click)="openCreateFloorplan()">
        Create Floorplan
      </button>
      <div></div>
      <mat-form-field>
        <mat-label>{{ selectedStoreName }}</mat-label>
      <!--[(value)]="selectedStoreName"--><mat-select>
          <ng-container *ngFor="let st of storeList">
            <mat-option (click)="selectStore(st.id, st.name)" *ngIf="userIsAuthenticated && userId === st.creator">
              {{st.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div class="floorplan-header">
        <h4>Floorplan Name</h4>
      </div>
      <div *ngFor="let fp of floorplanList">
        <mat-list *ngIf="userIsAuthenticated && userId === fp.creator && fp.storeId === selectedStoreID">
          <mat-list-item>
            {{ fp.name }}
            <div style="margin-left:auto;"></div>
            <button
              class="edit-button"
              mat-raised-button
              style="margin-left:auto"
              (click)="openEditFloorplan(fp.id)"
            >
              Edit Floorplan
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>
  </div>
