<!--
  <mat-card> <mat-card-title>Store Manager</mat-card-title> </mat-card>
  <mat-card>
      <mat-card-title>
          <a
          class="create-button"
          mat-raised-button
          routerLink="/main/manager/create"
          routerLinkActive="mat-accent"
          >Create</a
        ></mat-card-title
      >
    </mat-card>
    <router-outlet></router-outlet>
-->
<mat-card>
  <mat-card-title>Manager</mat-card-title>
</mat-card>

<div class="container-fluid">
  <app-store class="block"></app-store>
  <app-floorplans class="block"></app-floorplans>
  <app-servers class="block"></app-servers>
</div>
