/* .create-button {
    background-color: #461e64b4 !important;
    color: #ffffff !important;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

.store-button {
  position: absolute;
  right: 0px;
}
*/

mat-card {
  margin-bottom: 25px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* .block {
  display: inline-block;
  width: 30%;
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
} */
