<!--
  <mat-card> <mat-card-title>Store Manager</mat-card-title> </mat-card>
  <mat-card>
      <mat-card-title>
          <a
          class="create-button"
          mat-raised-button
          routerLink="/main/manager/create"
          routerLinkActive="mat-accent"
          >Create</a
        ></mat-card-title
      >
    </mat-card>
    <router-outlet></router-outlet>
-->
<mat-card>
  <mat-card-title>Manager</mat-card-title>
</mat-card>

<div class="container">
  <app-fp-builder></app-fp-builder>
  <app-store></app-store>
  <app-servers></app-servers>
</div>
