<mat-card style="margin-top:15px;">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveReservation()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name" />
      <mat-error *ngIf="form.get('name').invalid"
        >Please enter a reservation name.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="size"
        placeholder="Reservation Size"
      />
      <mat-error *ngIf="form.get('size').invalid"
        >Please enter a reservation size.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="phone"
        placeholder="Phone Number"
      />
      <mat-error *ngIf="form.get('phone').invalid"
        >Please enter a phone number without hyphens.</mat-error
      >
    </mat-form-field>
    <div class="time-date">
      <mat-form-field>
        <mat-select
          placeholder="Dining Time"
          type="text"
          formControlName="time"
          required
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let time of times" [value]="time.value">
            {{ time.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('time').invalid"
          >Please choose a dining time.</mat-error
        >
      </mat-form-field>
      <div class="spacer"></div>
      <mat-form-field>
        <input
          matInput
          type="text"
          [matDatepicker]="picker1"
          placeholder="Date"
          formControlName="date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="notes"
        placeholder="Notes (Special Occasion, Allergens, Childern, Etc.)"
      ></textarea>
      <mat-error *ngIf="form.get('notes').invalid"
        >Please enter notes.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </form>
</mat-card>
