mat-list {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 0.2rem;
  background-color: #e7e7e7;
}

mat-card {
  margin-bottom: 20px;
}

.color-box {
  width: 25px;
  height: 25px;
  margin: 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
