<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card>
  <p>Name<a class="spacer"></a>Size<a class="spacer"></a>Notes</p>
</mat-card>

<mat-accordion multi="true" *ngIf="reservations.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let reservation of reservations">
    <mat-expansion-panel-header
      *ngIf="userIsAuthenticated && userId === reservation.creator"
    >
      {{ reservation.name }}<a class="spacer"></a>{{ reservation.size
      }}<a class="spacer"></a>{{ reservation.notes }}
    </mat-expansion-panel-header>
    <p>Name: {{ reservation.name }}</p>
    <p>Size: {{ reservation.size }}</p>
    <p>Phone Number: {{ reservation.phone }}</p>
    <p>Notes: {{ reservation.notes }}</p>
    <mat-action-row
      *ngIf="userIsAuthenticated && userId === reservation.creator"
    >
      <a
        mat-button
        color="primary"
        [routerLink]="['/main/reservations/edit', reservation.id]"
        >EDIT</a
      >
      <button mat-button color="warn" (click)="onDelete(reservation.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalReservations"
  [pageSize]="reservationsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="reservations.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="reservations.length <= 0 && !isLoading">
  No reservations added yet!
</p>
