<mat-expansion-panel [expanded]="true" style="margin-top: 15px">
  <mat-expansion-panel-header>
   <h5>Table</h5>
  </mat-expansion-panel-header>
  <p><strong>Table:  {{ tableName }}</strong></p>
  <p><strong>Guests Seated: {{ guestsSeated }}</strong></p>
  <p><strong>Notes: {{ notes }}</strong></p>
  <p><strong>Assigned Server: {{ serverName }}</strong></p>
  <button class="seat-table-button button-pad" mat-raised-button (click)="openSeatTable()">Seat Table</button>
  <button class="seat-table-button button-pad" mat-raised-button (click)="clearTable()">Clear Table</button>
  <button class="form-buttons button-pad" mat-raised-button color="warn" (click)="clearFloorplan()">Clear Floorplan</button>
</mat-expansion-panel>
