.example-container {
  width: 100%;
  height: 500px;
  background-color: #b6b6b6;
}

mat-sidenav {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #8348c7c9;
  color: #f7f7f7;
}

mat-sidenav-content {
  padding: 10px;
}
