<h1 mat-dialog-title>Add Server</h1>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveServer()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Server Name"
      />
      <mat-error *ngIf="form.get('name').invalid"
        >Please enter a server name.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ selectedStoreName }}</mat-label>
      <mat-select formControlName="store" placeholder="Select a Store">
        <ng-container *ngFor="let st of storeList">
          <mat-option
            *ngIf="userIsAuthenticated && userId === st.creator"
            [value]="st.id"
          >
            {{ st.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Server Color</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color.hex">
          {{ color.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="form-buttons" mat-raised-button color="accent" type="submit">
      Add
    </button>
  </form>
</mat-card>
<div mat-dialog-actions>
  <button style="margin-left:auto;" mat-button (click)="onNoClick()">
    Close
  </button>
</div>
