<div class="server-bar" style="margin-bottom: 15px">
  <mat-card>
    <div class="header">
      <h5>Servers</h5>
    </div>
    <button class="add-button" mat-raised-button (click)="openAddServer()">
      Add Server
    </button>
    <div></div>
    <mat-form-field>
      <mat-label>{{ selectedStoreName }}</mat-label>
      <mat-select>
        <ng-container *ngFor="let st of storeList">
          <mat-option
            (click)="selectStore(st.id, st.name)"
            *ngIf="userIsAuthenticated && userId === st.creator"
          >
            {{ st.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <div class="server-header">
      <h6>Server Name</h6>
    </div>
    <div *ngFor="let server of servers">
      <mat-list
        *ngIf="
          userIsAuthenticated &&
          userId === server.creator &&
          server.store === selectedStoreID
        "
      >
        <mat-list-item>
          <div class="color-box" [ngStyle]="{ background: server.color }"></div>
          {{ server.name }}
          <button
            class="edit-button"
            mat-raised-button
            style="margin-left:auto"
            (click)="openEditServer(server.id)"
          >
            Edit Server
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
