<h1 mat-dialog-title>Edit Server</h1>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onUpdateServer()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Server name" />
      <mat-error *ngIf="form.get('name').invalid">Please enter a server name.</mat-error>
    </mat-form-field>
    <mat-form-field>
        {{ selectedStore }}
        <mat-select [(value)]="selectedStore">
          <ng-container *ngFor="let store of storeList">
            <mat-option (click)="setServerStore(store.name, store.id)" *ngIf="userIsAuthenticated && userId === store.creator">
              {{store.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    <div class="form-btn-group">
      <button class="form-buttons" mat-raised-button color="accent" type="submit">Update</button>
      <button class="form-buttons" mat-raised-button color="accent" (click)="onDelete()">DELETE</button>
    </div>
  </form>
</mat-card>
<div mat-dialog-actions>
  <button style="margin-left: auto;" mat-button (click)="onNoClick()">Close</button>
</div>
