<h1 mat-dialog-title>Add Server</h1>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveServer()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Server Name" />
      <mat-error *ngIf="form.get('name').invalid">Please enter a server name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      Store: {{ selectedStore }}
      <mat-select [(value)]="selectedStore">
        <ng-container *ngFor="let store of storeList">
          <mat-option (click)="setServerStore(store.name, store.id)" *ngIf="userIsAuthenticated && userId === store.creator">
            {{store.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="color" placeholder="Server Color ID" />
      <mat-error *ngIf="form.get('color').invalid">Please enter a server color ID.</mat-error>
    </mat-form-field>
    <button class="form-buttons" mat-raised-button color="accent" type="submit">Add</button>
  </form>
</mat-card>
<div mat-dialog-actions>
  <button style="margin-left:auto;" mat-button (click)="onNoClick()">Close</button>
</div>
