<div class=" mat-card fp-builder">
  <h3>Floorplan Builder</h3>
  <form
    [formGroup]="form"
    class="form"
    (submit)="saveCanvas()"
    *ngIf="!isLoading"
  >
    <mat-form-field style="margin-right:10px;">
      <mat-label>Store</mat-label>
      <mat-select formControlName="store" placeholder="Select a Store">
        <ng-container *ngFor="let st of storeList">
          <mat-option
            *ngIf="userIsAuthenticated && userId === st.creator"
            [value]="st.id"
          >
            {{ st.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <button mat-rasied-button class="table-button" type="submit">
      Save Floorplan
    </button>
  </form>
  <button
    mat-rasied-button
    class="delete-button"
    (click)="deleteFloorplan(floorplan.id)"
  >
    Delete Floorplan
  </button>
  <div class="table-button-group">
    <button mat-rasied-button class="table-button" (click)="addRect()">
      Add Rectangle Table
    </button>
    <button mat-rasied-button class="table-button" (click)="addCircle()">
      Add Circle Table
    </button>
    <button mat-rasied-button class="delete-button" (click)="discardObject()">
      Delete Selected Table
    </button>
  </div>
  <div class="table-view">
    <div class="canvas-wrap" id="canvas-wrap">
      <canvas
        id="canvas"
        class="canvas"
        style="border: 1px solid rgb(54, 54, 54);"
      ></canvas>
    </div>
  </div>
  <button mat-rasied-button class="table-button" (click)="onCancel()">
    Cancel
  </button>
</div>
