.table-view {
  height: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.canvas-wrap {
  width: 74vw;
  height: 75vh;
  position: fixed;
}

.table-button-group {
  margin: 10px;
}
.table-button {
  text-decoration: none;
  background-color: #461e64b4 !important;
  color: #ffffff !important;
  padding: 10px 15px;
  margin-right: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border: none;
  border-radius: 2px;
  font-size: 15px;
}
.delete-button {
text-decoration: none;
background-color: #d80101b4 !important;
color: #ffffff !important;
padding: 10px 15px;
margin-right: 10px;
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
border: none;
border-radius: 2px;
font-size: 15px;
}

mat-card {
  margin-bottom: 25px;
}
