<h2>Seating App</h2>
<ul>
  <li *ngIf="userIsAuthenticated">
    <button class="nav-button" mat-raised-button>Live View</button>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button class="nav-button" mat-raised-button>Reservations</button>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button class="nav-button" mat-raised-button>Store Manager</button>
  </li>
  <div class="space"></div>
  <li *ngIf="userIsAuthenticated">
    <button class="nav-button" mat-raised-button>My Account</button>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button class="nav-button-logout" mat-raised-button (click)="onLogout()">
      Logout
    </button>
  </li>
</ul>
