ul {
  list-style: none;
  margin: 0;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2vh;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.space {
  margin-top: 50px;
}

.nav-button {
  width: 100%;
  background-color: #e7e7e7;
  color: #202020;
}

.nav-button-logout {
  width: 100%;
  background-color: #d14c4c !important;
  color: #ffffff !important;
}

.active-nav {
  background-color: #4c86d1 !important;
  color: #ffffff;
}
