<img src="../../../assets/images/logo-nobg2.png" class="logo" />
<ul>
  <li *ngIf="userIsAuthenticated">
    <button
      class="nav-button"
      mat-raised-button
      routerLink="/main/dashboard"
      routerLinkActive="active-nav"
    >
      Dashboard
    </button>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button
      class="nav-button"
      mat-raised-button
      routerLink="/main/reservations"
      routerLinkActive="active-nav"
    >
      Reservations
    </button>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button
      class="nav-button"
      mat-raised-button
      routerLink="/main/manager"
      routerLinkActive="active-nav"
    >
      Manager
    </button>
  </li>

  <li *ngIf="userIsAuthenticated">
    <button
      class="nav-button"
      mat-raised-button
      (click)="openWelcomeModal()"
    >
      Change Active Store
    </button>
  </li>

  <div class="space"></div>

  <li *ngIf="userIsAuthenticated">
      <button
        class="nav-button"
        mat-raised-button
        routerLink="/main/help"
        routerLinkActive="active-nav"
      >
        Help
      </button>
    </li>

  <li *ngIf="userIsAuthenticated">
    <button
      class="nav-button"
      mat-raised-button
      routerLink="/main/account"
      routerLinkActive="active-nav"
    >
      Account
    </button>
  </li>
  <li *ngIf="userIsAuthenticated">
    <button class="nav-button-logout" mat-raised-button (click)="onLogout()">
      Logout
    </button>
  </li>
</ul>
