<h1 mat-dialog-title>Select Active Store</h1>
<div *ngIf="hasStore" class="hasStores">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Stores</mat-label>
        <mat-select formControlName="defaultStore">
          <ng-container *ngFor="let store of storeList">
            <mat-option placeholder="Store" (click)="loadDefaultStore(store.name, store.id, store.defaultFloorplan)" *ngIf="userIsAuthenticated && userId === store.creator" [value]="store">
              {{store.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card>
</div>
<div *ngIf="!hasStore" class="noStores">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h4>User account does not have any stores. Please create a store on Manager page.</h4>
    <button style="margin-left: auto;" mat-raised-button color="accent" routerLink="/main/manager" (click)="onNoClick()">Manager</button>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button style="margin-left: auto;" mat-button (click)="onNoClick()">Close</button>
</div>
