//Code below does not really work. Just a canvas outline from HTML5 integrated canvas. 
//Not using Fabric so will likely scrap and use that and Dalton's branch for canvas.
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Canvas tutorial</title>
    <script type="text/javascript">
      function draw() {
        var canvas = document.getElementById('tutorial');
        if (canvas.getContext) {
          var ctx = canvas.getContext('2d');
        }
      }
    </script>
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
  </head>
  <body onload="draw();">
    <canvas id="tutorial" width="1682" height="1000"></canvas>
  </body>
</html>
