<div class="hosts-bar">
    <mat-card>
      <button mat-raised-button color="primary">Add Host</button>
      <mat-list>
        <mat-list-item
          >Host 1<button mat-raised-button class="store-button" color="accent">
            Edit Host
          </button></mat-list-item
        >
        <mat-list-item
          >Host 2<button mat-raised-button class="store-button" color="accent">
            Edit Host
          </button></mat-list-item
        >
        <mat-list-item
          >Host 3<button mat-raised-button class="store-button" color="accent">
            Edit Host
          </button></mat-list-item
        >
      </mat-list>
    </mat-card>
  </div>
