<h1>Live View</h1>
<button mat-button color="primary" (click)="addRect()">
  Add Rectangle Table
</button>
<button mat-button color="primary" (click)="addCircle()">
  Add Circle Table
</button>
<button mat-button color="primary" (click)="discardObject()">
  Delete Selected Table
</button>
<button mat-button color="primary" (click)="lockObject()">
  Lock Selected Table
</button>
<div class="canvas--wrap">
  <canvas id="canvas" class="canvas" width="800" height="800" style="border: 1px solid #000;"></canvas>
</div>


